#formFetch {
	margin-bottom: 5px;
}

#formPost input[type='text'] {
	margin-right: 1%;
}

.row {
	margin: 0;
}

#formPost input[type='checkbox'],
#formPost input[type='radio'] {
	margin-right: 5px;
}

#radioBtnInputText {
	margin-bottom: 8px;
	margin-top: 8px;
}

.content {
	margin-left: 5%;
	margin-right: 5%;
}